.recommended{
    flex-basis: 30%;
}
.side-vid{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-vid img{
    width:50%;
    flex-basis:49% ;
}
.vid-info{
    flex-basis:49% ;
}
.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}

